flow.json
[
    {
        "id": "d7632026aca46a5d",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "379adc92c83a3b9f",
        "type": "tab",
        "label": "Arduino Temp Serial",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e021af12dfbf863a",
        "type": "tab",
        "label": "MCP3008",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "20f4e78301403fbc",
        "type": "tab",
        "label": "LED Controller",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78256c05476f9031",
        "type": "tab",
        "label": "PWM LED Controller",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ae4e1a44342f2c5",
        "type": "serial-port",
        "serialport": "/dev/ttyS0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "34c5d364ab2fc9e1",
        "type": "mqtt-broker",
        "name": "ROG MQTT 1",
        "broker": "10.43.2.19",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6753997140fbf9d0",
        "type": "mqtt-broker",
        "name": "MBPM1 Broker",
        "broker": "192.168.0.12",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6d42bc94e8d96f05",
        "type": "mqtt in",
        "z": "d7632026aca46a5d",
        "name": "",
        "topic": "joesdesk/temp",
        "qos": "2",
        "datatype": "json",
        "broker": "6753997140fbf9d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "7047c20e43e6e480"
            ]
        ]
    },
    {
        "id": "7047c20e43e6e480",
        "type": "debug",
        "z": "d7632026aca46a5d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "43795aad712d9aae",
        "type": "serial in",
        "z": "379adc92c83a3b9f",
        "name": "",
        "serial": "6ae4e1a44342f2c5",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "f4e7ce4f8e88be93",
                "98d64f0683747ad8"
            ]
        ]
    },
    {
        "id": "71203e019a351d10",
        "type": "debug",
        "z": "379adc92c83a3b9f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "495c4dcfef903c0b",
        "type": "mqtt out",
        "z": "379adc92c83a3b9f",
        "name": "",
        "topic": "desktop/arduino_uno/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6753997140fbf9d0",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "96ef4bc2d9e46dfb",
        "type": "switch",
        "z": "379adc92c83a3b9f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "495c4dcfef903c0b",
                "71203e019a351d10"
            ],
            [
                "299eb71f57c394a6",
                "38933612db327533"
            ]
        ]
    },
    {
        "id": "299eb71f57c394a6",
        "type": "mqtt out",
        "z": "379adc92c83a3b9f",
        "name": "",
        "topic": "desktop/arduino_uno/status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6753997140fbf9d0",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "38933612db327533",
        "type": "debug",
        "z": "379adc92c83a3b9f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "f4e7ce4f8e88be93",
        "type": "debug",
        "z": "379adc92c83a3b9f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "98d64f0683747ad8",
        "type": "split",
        "z": "379adc92c83a3b9f",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 250,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b27e953214a13981",
        "type": "pimcp3008",
        "z": "e021af12dfbf863a",
        "name": "",
        "dev": "3008",
        "pin": 0,
        "dnum": 0,
        "bus": 0,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "79cac8321c245acc",
                "35c10cbde36b3bf8"
            ]
        ]
    },
    {
        "id": "b0aed69a6f7a726f",
        "type": "inject",
        "z": "e021af12dfbf863a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "b27e953214a13981"
            ]
        ]
    },
    {
        "id": "556b36b7a57c5f65",
        "type": "function",
        "z": "e021af12dfbf863a",
        "name": "Convert ADC Value to Voltage",
        "func": "msg.payload.voltage = msg.payload.voltage * .0032258;\nmsg.payload.sensor = \"MCP3008\"\nmsg.payload.pin = 0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 240,
        "wires": [
            [
                "23a199af2a363f73",
                "fa95c7a57e4baab8"
            ]
        ]
    },
    {
        "id": "79cac8321c245acc",
        "type": "debug",
        "z": "e021af12dfbf863a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "35c10cbde36b3bf8",
        "type": "function",
        "z": "e021af12dfbf863a",
        "name": "Create JSON",
        "func": "voltage = msg.payload;\n\nmsg.payload = '{\"voltage\":' + voltage + '}';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [
            [
                "348be992e42706bc"
            ]
        ]
    },
    {
        "id": "23a199af2a363f73",
        "type": "debug",
        "z": "e021af12dfbf863a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 120,
        "wires": []
    },
    {
        "id": "348be992e42706bc",
        "type": "json",
        "z": "e021af12dfbf863a",
        "name": "Convert to JSON Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "556b36b7a57c5f65"
            ]
        ]
    },
    {
        "id": "fa95c7a57e4baab8",
        "type": "mqtt out",
        "z": "e021af12dfbf863a",
        "name": "",
        "topic": "mcp3008",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6753997140fbf9d0",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "ad57eba42115132b",
        "type": "rpi-gpio out",
        "z": "20f4e78301403fbc",
        "name": "",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "80a9cdfac576e32d",
        "type": "inject",
        "z": "20f4e78301403fbc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "ad57eba42115132b"
            ]
        ]
    },
    {
        "id": "8afa1fbabea2dea1",
        "type": "inject",
        "z": "20f4e78301403fbc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "ad57eba42115132b"
            ]
        ]
    },
    {
        "id": "f594782d2ef8cab1",
        "type": "mqtt in",
        "z": "20f4e78301403fbc",
        "name": "",
        "topic": "red_led",
        "qos": "2",
        "datatype": "auto",
        "broker": "6753997140fbf9d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "ad57eba42115132b"
            ]
        ]
    },
    {
        "id": "6ba3c937c388b968",
        "type": "rpi-gpio out",
        "z": "20f4e78301403fbc",
        "name": "",
        "pin": "16",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 660,
        "y": 540,
        "wires": []
    },
    {
        "id": "f95d0aa32bf44af9",
        "type": "rpi-gpio in",
        "z": "20f4e78301403fbc",
        "name": "",
        "pin": "12",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "6ba3c937c388b968",
                "0fde2c80e3ab24ce"
            ]
        ]
    },
    {
        "id": "0fde2c80e3ab24ce",
        "type": "template",
        "z": "20f4e78301403fbc",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"button\": 1,\n\"status\" : {{payload}}\n}",
        "output": "json",
        "x": 380,
        "y": 640,
        "wires": [
            [
                "6b23addb43f3733a",
                "53eb4dfadaf02551"
            ]
        ]
    },
    {
        "id": "6b23addb43f3733a",
        "type": "debug",
        "z": "20f4e78301403fbc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 640,
        "wires": []
    },
    {
        "id": "53eb4dfadaf02551",
        "type": "mqtt out",
        "z": "20f4e78301403fbc",
        "name": "",
        "topic": "button_status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6753997140fbf9d0",
        "x": 700,
        "y": 760,
        "wires": []
    },
    {
        "id": "3afd6f7beb325e1a",
        "type": "rpi-gpio out",
        "z": "78256c05476f9031",
        "name": "",
        "pin": "20",
        "set": "",
        "level": "0",
        "freq": "50",
        "out": "pwm",
        "bcm": true,
        "x": 700,
        "y": 700,
        "wires": []
    },
    {
        "id": "16ac3d5695dcf6ad",
        "type": "inject",
        "z": "78256c05476f9031",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "3afd6f7beb325e1a"
            ]
        ]
    },
    {
        "id": "1cf45a5261fba950",
        "type": "inject",
        "z": "78256c05476f9031",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "3afd6f7beb325e1a"
            ]
        ]
    },
    {
        "id": "21e1c5142418bd8b",
        "type": "inject",
        "z": "78256c05476f9031",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "3afd6f7beb325e1a"
            ]
        ]
    },
    {
        "id": "59eb443c4c3c20ad",
        "type": "http in",
        "z": "78256c05476f9031",
        "name": "",
        "url": "/pwm_led",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 880,
        "wires": [
            [
                "425d785450d43e89",
                "6f477c3011b8bfe0",
                "4731da5d61a5f804",
                "a302973c5458caa9"
            ]
        ]
    },
    {
        "id": "425d785450d43e89",
        "type": "http response",
        "z": "78256c05476f9031",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 370,
        "y": 980,
        "wires": []
    },
    {
        "id": "a543e0ca80e44268",
        "type": "http in",
        "z": "78256c05476f9031",
        "name": "",
        "url": "/pwm_led",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "b4a7c9f6534854b7",
                "6740ecdb510e88ae"
            ]
        ]
    },
    {
        "id": "ad29f658ffb26332",
        "type": "http request",
        "z": "78256c05476f9031",
        "name": "GET LED Status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/led",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 400,
        "y": 1240,
        "wires": [
            [
                "dc3291f06f2a2b94"
            ]
        ]
    },
    {
        "id": "c15be21ed75f6bc1",
        "type": "inject",
        "z": "78256c05476f9031",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{  \"level\" : 90}",
        "payloadType": "json",
        "x": 170,
        "y": 1360,
        "wires": [
            [
                "d0d5080c3d1ae1a1"
            ]
        ]
    },
    {
        "id": "dc3291f06f2a2b94",
        "type": "debug",
        "z": "78256c05476f9031",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b4a7c9f6534854b7",
        "type": "debug",
        "z": "78256c05476f9031",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6f477c3011b8bfe0",
        "type": "debug",
        "z": "78256c05476f9031",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 880,
        "wires": []
    },
    {
        "id": "2f2f080d833eacb3",
        "type": "inject",
        "z": "78256c05476f9031",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "ad29f658ffb26332"
            ]
        ]
    },
    {
        "id": "d0d5080c3d1ae1a1",
        "type": "http request",
        "z": "78256c05476f9031",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/led",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 1360,
        "wires": [
            [
                "dc3291f06f2a2b94"
            ]
        ]
    },
    {
        "id": "4731da5d61a5f804",
        "type": "change",
        "z": "78256c05476f9031",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 820,
        "wires": [
            [
                "3afd6f7beb325e1a",
                "6f477c3011b8bfe0"
            ]
        ]
    },
    {
        "id": "d494e2930fb9422d",
        "type": "inject",
        "z": "78256c05476f9031",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{  \"level\" : 10}",
        "payloadType": "json",
        "x": 170,
        "y": 1440,
        "wires": [
            [
                "d0d5080c3d1ae1a1"
            ]
        ]
    },
    {
        "id": "5a720ea14e6352e3",
        "type": "file",
        "z": "78256c05476f9031",
        "name": "",
        "filename": "current_state",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 590,
        "y": 940,
        "wires": [
            [
                "6f477c3011b8bfe0"
            ]
        ]
    },
    {
        "id": "6740ecdb510e88ae",
        "type": "file in",
        "z": "78256c05476f9031",
        "name": "",
        "filename": "current_state",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 1120,
        "wires": [
            [
                "8fce38c0bde5abd5"
            ]
        ]
    },
    {
        "id": "5a93961b13ce5c0b",
        "type": "http response",
        "z": "78256c05476f9031",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a302973c5458caa9",
        "type": "json",
        "z": "78256c05476f9031",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 370,
        "y": 920,
        "wires": [
            [
                "5a720ea14e6352e3"
            ]
        ]
    },
    {
        "id": "8fce38c0bde5abd5",
        "type": "json",
        "z": "78256c05476f9031",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 530,
        "y": 1120,
        "wires": [
            [
                "5a93961b13ce5c0b",
                "b4a7c9f6534854b7"
            ]
        ]
    },
    {
        "id": "793262567f355967",
        "type": "inject",
        "z": "78256c05476f9031",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "3afd6f7beb325e1a"
            ]
        ]
    }
]